@import "utils/fonts.css";
* {
    color: var(--color);
    background-color: var(--bgColor);
    scroll-behavior: smooth;
}

znav {
    display: flex;
    height: 10vw;
    align-items: center;
    justify-content: space-between;
}

zl {
    display: flex;
    list-style-type: none;
}

zbody {
    display: block;
    margin: 0 3vw 0;
}

zfoot {
    display: flex;
    height: 10vw;
    align-items: center;
    justify-content: space-between;
}

zp {
    font-size: 1.2vw;
    letter-spacing: 0.01vw;
}

zh1 {
    -webkit-text-fill-color: transparent;
    font-size: 4vw;
    letter-spacing: 0.5vw;
}

zdark {
    border: 0.25vw solid var(--color);
    font-size: 1.3vw;
    padding: 0.5vw;
}

zh2 {
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
}

zh3 {
    font-size: 2vw;
    letter-spacing: 0.05vw;
}

zh4 {
    font-size: 1.3vw;
    letter-spacing: 0.05vw;
}

zli {
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    margin: 0 1vw 0;
}

zsection {
    display: flex;
    flex-direction: column;
    height: 20vw;
    align-items: center;
}

zloader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--bgColor);
    border-radius: 50%;
    border-top: 16px solid var(--color);
    animation: spin 2s linear infinite;
}

zicon {
    display: block;
    height: 4vw;
    width: 4vw;
    background-size: cover;
}

ztable {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    font-size: 1.75vw;
    letter-spacing: 0.15vw;
    padding: 0;
    margin: 0;
    border: 0.25vw solid var(--color);
    border-radius: 2px;
}

ztr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

ztd {
    font-size: 1.2vw;
    letter-spacing: 0.01vw;
    padding: 1vw;
    display: table-cell;
    vertical-align: inherit;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

za {
    display: inline-block;
    position: relative;
}

za:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.15vw;
    bottom: -0.25vw;
    left: 0;
    background-color: var(--color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

za:hover:after {
    color: var(--color);
    transform: scaleX(1);
    transform-origin: bottom left;
}

.active:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}